/* footer.css */

.footer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2.5rem 0;
    letter-spacing: 0.125rem;
    font-size: 1.25rem;
}

.footer-top {
    width: 100%;
    max-width: 85rem;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem 2.5rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.875rem;
}

.footer-newsletter form label {
    font-size: 1rem;
    font-weight: 400;
}

.footer-newsletter form input {
    max-width: 100%;
    border-radius: 30px;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.footer-social h2 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
    margin-bottom: 1rem;
    color: #ededed;
}

.footer-social .social-links {
    display: flex;
    gap: 1.25rem;
}

.social-links li a:hover img {
    opacity: 0.7;
}

.footer-links {
    display: flex;
    gap: 1.1875rem;
}

.footer-column,
.footer-column ul {
    width: 141px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
}

.footer-column h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #ededed;
}

.footer-column ul li {
    font-size: 1.25rem;
    font-weight: 500;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    max-width: 1360px;
    text-align: center;
    border-top: 0.0625rem solid #ffffff;
}

.footer-bottom p {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1.25rem;
}

@media (max-width: 1220px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer-contact {
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .footer {
        padding: 0;
    }

    .footer-top {
        padding: 1.25rem;
        align-items: flex-start;
    }

    .footer-contact {
        align-items: flex-start;
        text-align: left;
    }

    .footer-social .social-links{
        gap: 1rem;
    }

    .footer-links {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-column h3, 
    .footer-column ul li {
        font-size: 1rem;
    }

    .footer-bottom p {
        font-size: 1rem;
        padding: 0.625rem;
    }
}