/* hero.css */
.hero {
    background: url(../../images/banners/hero.jpg) no-repeat center;
    height: 500px;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content {
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}


@media (max-width: 768px) {
    .hero {
        background: url(../../images/banners/hero_mobile.jpg) no-repeat center;
        background-size: cover;
        height: 660px;
    }

    .hero-overlay {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero-content {
        max-width: 330px;
    }

    .btn {
        font-size: 1.1rem;
        width: 150px;
    }
}